db_dsn=mysql:host=perconaserver-5-7;port=3306;dbname=hr_meg
db_username=root
db_password=Percona-5-7
db_charset=utf8

backend_host=http://admin.hr.megafon.local/
frontend_host=http://hr.megafon.local/